﻿@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';

.main {
    height: 40px;
    border-radius: 12px;
    margin-top: var(--offset-sm);
    color: var(--white-0);
    font-size: medium;
    font-weight: 400;
    align-items: center;
    outline: none;
    
}

.blue {
    background-color: var(--google-blue);
    border-color: var(--google-blue)
}

.blue:hover {
    background-color:rgb(17, 35, 196);
    border-color:rgb(17, 35, 196);
    cursor: pointer;
}

.green {
    background-color: var(--green);
    border-color: var(--green);
}

.green:hover {
    background-color: rgb(30, 114, 9);
    border-color:rgb(30, 114, 9);
    cursor: pointer;
}

.orange {
    background-color: var(--orange);
    border-color: var(--orange);
}

.orange:hover {
    background-color: rgb(199, 106, 0);
    border-color:rgb(199, 106, 0);
    cursor: pointer;
}

.red {
    background-color: var(--raspberry);
    border-color: var(--raspberry);
}

.red:hover {
    background-color: #db4e32;
    cursor: pointer;
}
