@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';

* {
    margin: 0;
}

.nutrient {
    margin-top: var(--offset-xxs);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    width: 250px;

    .svg {
        height: 14px;
        width: 100px;
        border-radius: var(--offset-xxs);
    }
}

.base-rect {
    fill: rgb(235, 240, 240);
    width: 100px;
    height: 14px;
}

.percent-rect {
    fill: rgb(103, 202, 202);
    height: 14px;
}

.percent-nutrient {
    width: 50px;
    margin-left: var(--offset-xxs);
}

.name-nutrient {
    width: 60px;
    text-align: end;
    margin-right: var(--offset-xxs);
}