﻿@import '../../../__data__/styles/colors.css';
@import '../../../__data__/styles/sizes.css';


  .login-form {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        width: 35vw;
        height: 440px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }


.login-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: var(--offset-sm);
    color: var(--raspberry);
}

.login-title-spacing{
    font-family: 'Yellowtail', cursive;
    font-size: 26px;
    font-weight: 300;
    color: var(--raspberry);
    margin-top: var(--offset-sm);

    letter-spacing: 0.85em;
    max-width: 86%;
    align-self: center;
}

.login-inner {
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 16px;
}

.text-recovery {
    font-size: 14px;
    font-weight: 600;
    margin-top: var(--offset-xs);
    margin-bottom: var(--offset-sm);
    color: var(--raspberry);
    max-width: 350px;
}

.cancel {
    margin-top: var(--offset-xs);
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.big-button {
    width: 170px;
    margin: 10px auto;
}