﻿@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';

.main {
    margin-top: var(--offset-xs);
    display: flex;
    flex-direction: column;
}

.label {
    color:  var(--raspberry);
    font-weight: 600;
    font-size: 14px;
}

.input {
    margin-top: var(--offset-xxs);
    border-radius: 4px;
    border-color: var(--white-0);
    background-color: var(--white-0);
    height: var(--offset-lg-2);
    width: inherit;
    outline: none;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: inherit;
    margin-top: var(--offset-xs);
    color: #fff;
    border: rgb(229, 143, 143);
    border-radius: 5px;
    background-color: rgb(231, 102, 102);;
    font-size: 14px;
}