﻿@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';
@import '../../__data__/styles/media.css'; 

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: rgb(243, 241, 241);
    width: 100%;
    height: 1200px;

    .header {
        background-color: #cdd89a;
        width: 100%;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-title-spacing{
            font-family: 'Yellowtail', cursive;
            font-size: 26px;
            font-weight: 300;
            color: var(--raspberry);
            letter-spacing: 0.85em;
            max-width: 86%;
        }

        @media (--media-sm) {
            padding: 0, 20px;
        }
    }
}

.main {
    margin-top: var(--offset-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-eat-wrapper {
    background-color: #e6e7e5;
    margin: 10px auto;
    align-items: center;
    width: 480px;
    height: 390px;
    border-radius: 10px;
}

.add-eat {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-eat-input {
    margin-top: var(--offset-xs);
    width: 80%;
}

.add-eat-labeled-input {
    font-size: 16px;
}

.add-eat-buttons {
    margin-top: var(--offset-sm);
    margin-left: var(--offset-sm);
    width: 80%;
}

.nutrient-wrapper {
    background-color: #fff;
    width: 220px;
}

.show-eat-nutrients-wrapper {
    background: rgba(185, 184, 184, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
}

.show-eat-nutrients {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: var(--offset-sm);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-eat-nutrients-title {
    margin-top: 10px;
    font-size: 20px;
}

.show-eat-nutrients-h3 {
    font-size: 16px;
}

.vitamin-wrapper {
    margin-top: var(--offset-xs);
    display: flex;
    flex-direction: row;
}

.vitamins {
    margin-top: var(--offset-sm);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.macronutrients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--offset-sm);
    padding: 10px;
    width: 100%;
}

.your-nutrients {
    margin-top: var(--offset-sm);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.middle-button {
    width: 90px;
}

.big-button {
    width: 170px;
    margin: 10px auto;
}