﻿@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';
@import '../../__data__/styles/media.css'; 

.wrapper {
    background: url('../../assets/images/back.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;

    .login-form {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        width: 35vw;
        height: 440px;
        margin: auto;
        display: flex;
        flex-direction: column;

        @media (--media-sm) {
            padding: 0, 20px;
        }
    }
}

.login-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: var(--offset-sm);
    color: var(--raspberry);
}

.login-title-spacing{
    font-family: 'Yellowtail', cursive;
    font-size: 26px;
    font-weight: 300;
    color: var(--raspberry);
    margin-top: var(--offset-sm);
    letter-spacing: 0.85em;
    max-width: 86%;
    align-self: center;
}

.login-inner {
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 16px;
}

.login-inner-line {
    display: flex;
    align-items: center;
}

.login-link {
    margin-top: var(--offset-sm);
    width: 100%;
    font-size: var(--offset-sm);
    align-self: center;
    color: var(--raspberry);
}

.login-register {
    margin-top: var(--offset-sm);
    text-align: center;
    font-size: 12px;
}

.login-forgot {
    font-size: var(--offset-sm);
    margin-top: var(--offset-sm);
    text-align: right;
}

.big-button {
    width: 170px;
    margin: 10px auto;
}