﻿@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';

.wrapper {
    background: url('../../assets/images/back.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
}
