﻿@import '../../__data__/styles/colors.css';
@import '../../__data__/styles/sizes.css';

.main {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
}

.blue {
    background-color: var(--google-blue);
    border-color: var(--google-blue)
}

.blue:hover {
    background-color:rgb(17, 35, 196);
    border-color:rgb(17, 35, 196);
}

.green {
    background-color: var(--green);
    border-color: var(--green);
}

.green:hover {
    background-color: rgb(30, 114, 9);
    border-color:rgb(30, 114, 9);
}

.orange {
    background-color: var(--orange);
    border-color: var(--orange);
}

.orange:hover {
    background-color: rgb(199, 106, 0);
    border-color:rgb(199, 106, 0);
}

.red {
    color:  #CD1900;
}

